services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: mo
      POSTGRES_PASSWORD: mo
      POSTGRES_DB: mo
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
